<%-include('../layouts/admin/header')-%>
    <style data-hs-appearance-onload-styles>
        * {
            transition: unset !important;
        }

        body {
            opacity: 0;
        }

    </style>

    <!-- ONLY DEV -->

    <style>
        body {
            opacity: 0;
        }
    /* Style for the file input */ 
    .custom-file-input {
      position: relative;
      z-index: 2;
      opacity: 0; 
     }  
     .custom-file-image {
      position: absolute;
      top: 1.8rem;
      left: 40%; 
      object-fit: cover;
      z-index: 1;
    }
    </style> 

    <!-- END ONLY DEV -->

    <script>
        window.hs_config = { "autopath": "@@autopath", "deleteLine": "hs-builder:delete", "deleteLine:build": "hs-builder:build-delete", "deleteLine:dist": "hs-builder:dist-delete", "previewMode": false, "startPath": "/index.html", "vars": { "themeFont": "https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap", "version": "?v=1.0" }, "layoutBuilder": { "extend": { "switcherSupport": true }, "header": { "layoutMode": "default", "containerMode": "container-fluid" }, "sidebarLayout": "default" }, "themeAppearance": { "layoutSkin": "default", "sidebarSkin": "default", "styles": { "colors": { "primary": "#377dff", "transparent": "transparent", "white": "#fff", "dark": "132144", "gray": { "100": "#f9fafc", "900": "#1e2022" } }, "font": "Inter" } }, "languageDirection": { "lang": "en" }, "skipFilesFromBundle": { "dist": ["/assets/admin/js/hs.theme-appearance.js", "/assets/admin/js/hs.theme-appearance-charts.js", "/assets/admin/js/demo.js"], "build": ["/assets/admin/css/theme.css", "/assets/admin/vendor/hs-navbar-vertical-aside/dist/hs-navbar-vertical-aside-mini-cache.js", "/assets/admin/js/demo.js", "/assets/admin/css/theme-dark.html", "/assets/admin/css/docs.css", "/assets/admin/vendor/icon-set/style.html", "/assets/admin/js/hs.theme-appearance.js", "/assets/admin/js/hs.theme-appearance-charts.js", "node_modules/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.html", "/assets/admin/js/demo.js"] }, "minifyCSSFiles": ["/assets/admin/css/theme.css", "/assets/admin/css/theme-dark.css"], "copyDependencies": { "dist": { "*/assets/admin/js/theme-custom.js": "" }, "build": { "*/assets/admin/js/theme-custom.js": "", "node_modules/bootstrap-icons/font/*fonts/**": "/assets/admin/css" } }, "buildFolder": "", "replacePathsToCDN": {}, "directoryNames": { "src": "./src", "dist": "./dist", "build": "./build" }, "fileNames": { "dist": { "js": "theme.min.js", "css": "theme.min.css" }, "build": { "css": "theme.min.css", "js": "theme.min.js", "vendorCSS": "vendor.min.css", "vendorJS": "vendor.min.js" } }, "fileTypes": "jpg|png|svg|mp4|webm|ogv|json" }
        window.hs_config.gulpRGBA = (p1) => {
            const options = p1.split(',')
            const hex = options[0].toString()
            const transparent = options[1].toString()

            var c;
            if (/^#([A-Fa-f0-9]{3}){1,2}$/.test(hex)) {
                c = hex.substring(1).split('');
                if (c.length == 3) {
                    c = [c[0], c[0], c[1], c[1], c[2], c[2]];
                }
                c = '0x' + c.join('');
                return 'rgba(' + [(c >> 16) & 255, (c >> 8) & 255, c & 255].join(',') + ',' + transparent + ')';
            }
            throw new Error('Bad Hex');
        }
        window.hs_config.gulpDarken = (p1) => {
            const options = p1.split(',')

            let col = options[0].toString()
            let amt = -parseInt(options[1])
            var usePound = false

            if (col[0] == "#") {
                col = col.slice(1)
                usePound = true
            }
            var num = parseInt(col, 16)
            var r = (num >> 16) + amt
            if (r > 255) {
                r = 255
            } else if (r < 0) {
                r = 0
            }
            var b = ((num >> 8) & 0x00FF) + amt
            if (b > 255) {
                b = 255
            } else if (b < 0) {
                b = 0
            }
            var g = (num & 0x0000FF) + amt
            if (g > 255) {
                g = 255
            } else if (g < 0) {
                g = 0
            }
            return (usePound ? "#" : "") + (g | (b << 8) | (r << 16)).toString(16)
        }
        window.hs_config.gulpLighten = (p1) => {
            const options = p1.split(',')

            let col = options[0].toString()
            let amt = parseInt(options[1])
            var usePound = false

            if (col[0] == "#") {
                col = col.slice(1)
                usePound = true
            }
            var num = parseInt(col, 16)
            var r = (num >> 16) + amt
            if (r > 255) {
                r = 255
            } else if (r < 0) {
                r = 0
            }
            var b = ((num >> 8) & 0x00FF) + amt
            if (b > 255) {
                b = 255
            } else if (b < 0) {
                b = 0
            }
            var g = (num & 0x0000FF) + amt
            if (g > 255) {
                g = 255
            } else if (g < 0) {
                g = 0
            }
            return (usePound ? "#" : "") + (g | (b << 8) | (r << 16)).toString(16)
        }
    </script>


    </head>

    <body class="has-navbar-vertical-aside navbar-vertical-aside-show-xl   footer-offset">

        <script src="/assets/admin/js/hs.theme-appearance.js"></script>

        <script
            src="/assets/admin/vendor/hs-navbar-vertical-aside/dist/hs-navbar-vertical-aside-mini-cache.js"></script>

        <!-- ========== HEADER ========== -->

        <header id="header"
            class="navbar navbar-expand-lg navbar-fixed navbar-height navbar-container navbar-bordered bg-white">
            <div class="navbar-nav-wrap">
                <!-- Logo -->
                <a class="navbar-brand" href="index.html" aria-label="Front">
                    <img class="navbar-brand-logo" src="/assets/admin/logos/logo.svg" alt="Logo"
                        data-hs-theme-appearance="default">
                    <img class="navbar-brand-logo" src="/assets/admin/logos-light/logo.svg" alt="Logo"
                        data-hs-theme-appearance="dark">
                    <img class="navbar-brand-logo-mini" src="/assets/admin/logos/logo-short.svg" alt="Logo"
                        data-hs-theme-appearance="default">
                    <img class="navbar-brand-logo-mini" src="/assets/admin/logos-light/logo-short.svg" alt="Logo"
                        data-hs-theme-appearance="dark">
                </a>
                <!-- End Logo -->

                <div class="navbar-nav-wrap-content-start">
                    <!-- Navbar Vertical Toggle -->
                    <button type="button" class="js-navbar-vertical-aside-toggle-invoker navbar-aside-toggler">
                        <i class="bi-arrow-bar-left navbar-toggler-short-align"
                            data-bs-template='<div class="tooltip d-none d-md-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>'
                            data-bs-toggle="tooltip" data-bs-placement="right" title="Collapse"></i>
                        <i class="bi-arrow-bar-right navbar-toggler-full-align"
                            data-bs-template='<div class="tooltip d-none d-md-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>'
                            data-bs-toggle="tooltip" data-bs-placement="right" title="Expand"></i>

                    </button>

                    <!-- End Navbar Vertical Toggle -->

                    <!-- Search Form -->
                    <div class="dropdown ms-2">
                        <!-- Input Group -->
                        <div class="d-none d-lg-block">
                            <div
                                class="input-group input-group-merge input-group-borderless input-group-hover-light navbar-input-group">
                                <div class="input-group-prepend input-group-text">
                                    <i class="bi-search"></i>
                                </div>

                                <input type="search" class="js-form-search form-control" placeholder="Search in front"
                                    aria-label="Search in front" data-hs-form-search-options='{
                       "clearIcon": "#clearSearchResultsIcon",
                       "dropMenuElement": "#searchDropdownMenu",
                       "dropMenuOffset": 20,
                       "toggleIconOnFocus": true,
                       "activeClass": "focus"
                     }'>
                                <a class="input-group-append input-group-text" href="javascript:;">
                                    <i id="clearSearchResultsIcon" class="bi-x-lg" style="display: none;"></i>
                                </a>
                            </div>
                        </div>
                        <button
                            class="js-form-search js-form-search-mobile-toggle btn btn-ghost-secondary btn-icon rounded-circle d-lg-none"
                            type="button" data-hs-form-search-options='{
                       "clearIcon": "#clearSearchResultsIcon",
                       "dropMenuElement": "#searchDropdownMenu",
                       "dropMenuOffset": 20,
                       "toggleIconOnFocus": true,
                       "activeClass": "focus"
                     }'>
                            <i class="bi-search"></i>
                        </button>
                        <!-- End Input Group -->

                        <!-- Card Search Content -->
                        <div id="searchDropdownMenu"
                            class="hs-form-search-menu-content dropdown-menu dropdown-menu-form-search navbar-dropdown-menu-borderless">

                        </div>
                        <!-- End Card Search Content -->

                    </div>

                    <!-- End Search Form -->
                </div>

                <div class="navbar-nav-wrap-content-end">
                    <!-- Navbar -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <!-- Account -->
                            <div class="dropdown">
                                <a class="navbar-dropdown-account-wrapper" href="javascript:;"
                                    id="accountNavbarDropdown" data-bs-toggle="dropdown" aria-expanded="false"
                                    data-bs-auto-close="outside" data-bs-dropdown-animation>
                                    <div class="avatar avatar-sm avatar-circle">
                                        <img class="avatar-img" src="/assets/admin/img/160x160/img6.jpg"
                                            alt="Image Description">
                                        <span class="avatar-status avatar-sm-status avatar-status-success"></span>
                                    </div>
                                </a>

                                <div class="dropdown-menu dropdown-menu-end navbar-dropdown-menu navbar-dropdown-menu-borderless navbar-dropdown-account"
                                    aria-labelledby="accountNavbarDropdown" style="width: 16rem;">
                                    <div class="dropdown-item-text">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-sm avatar-circle">
                                                <img class="avatar-img" src="/assets/admin/img/160x160/img6.jpg"
                                                    alt="Image Description">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h5 class="mb-0">Mark Williams</h5>
                                                <p class="card-text text-body">mark@site.com</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown-divider"></div>

                                    <!-- Dropdown -->
                                    <div class="dropdown">
                                        <a class="navbar-dropdown-submenu-item dropdown-item dropdown-toggle"
                                            href="javascript:;" id="navSubmenuPagesAccountDropdown1"
                                            data-bs-toggle="dropdown" aria-expanded="false">Set status</a>

                                        <div class="dropdown-menu dropdown-menu-end navbar-dropdown-menu navbar-dropdown-menu-borderless navbar-dropdown-sub-menu"
                                            aria-labelledby="navSubmenuPagesAccountDropdown1">
                                            <a class="dropdown-item" href="#">
                                                <span class="legend-indicator bg-success me-1"></span> Available
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <span class="legend-indicator bg-danger me-1"></span> Busy
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <span class="legend-indicator bg-warning me-1"></span> Away
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#"> Reset status
                                            </a>
                                        </div>
                                    </div>
                                    <!-- End Dropdown -->

                                    <a class="dropdown-item" href="#">Profile &amp; account</a>
                                    <a class="dropdown-item" href="#">Settings</a>

                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item" href="#">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0">
                                                <div class="avatar avatar-sm avatar-dark avatar-circle">
                                                    <span class="avatar-initials">HS</span>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1 ms-2">
                                                <h5 class="mb-0">Htmlstream <span
                                                        class="badge bg-primary rounded-pill text-uppercase ms-1">PRO</span>
                                                </h5>
                                                <span class="card-text">hs.example.com</span>
                                            </div>
                                        </div>
                                    </a>

                                    <div class="dropdown-divider"></div>

                                    <!-- Dropdown -->
                                    <div class="dropdown">
                                        <a class="navbar-dropdown-submenu-item dropdown-item dropdown-toggle"
                                            href="javascript:;" id="navSubmenuPagesAccountDropdown2"
                                            data-bs-toggle="dropdown" aria-expanded="false">Customization</a>

                                        <div class="dropdown-menu dropdown-menu-end navbar-dropdown-menu navbar-dropdown-menu-borderless navbar-dropdown-sub-menu"
                                            aria-labelledby="navSubmenuPagesAccountDropdown2">
                                            <a class="dropdown-item" href="#">
                                                Invite people
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                Analytics
                                                <i class="bi-box-arrow-in-up-right"></i>
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                Customize Front
                                                <i class="bi-box-arrow-in-up-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- End Dropdown -->

                                    <a class="dropdown-item" href="#">Manage team</a>

                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item" href="#">Sign out</a>
                                </div>
                            </div>
                            <!-- End Account -->
                        </li>
                    </ul>
                    <!-- End Navbar -->
                </div>
            </div>
        </header>

        <!-- ========== END HEADER ========== -->

        <!-- ========== MAIN CONTENT ========== -->
        <!-- Navbar Vertical -->

        <aside
            class="js-navbar-vertical-aside navbar navbar-vertical-aside navbar-vertical navbar-vertical-fixed navbar-expand-xl navbar-bordered bg-white  ">
            <div class="navbar-vertical-container">
                <div class="navbar-vertical-footer-offset">
                    <!-- Logo -->

                    <a class="navbar-brand" href="index.html" aria-label="Front">
                        <img class="navbar-brand-logo" src="/assets/admin/logos/logo.svg" alt="Logo"
                            data-hs-theme-appearance="default">
                        <img class="navbar-brand-logo" src="/assets/admin/logos-light/logo.svg" alt="Logo"
                            data-hs-theme-appearance="dark">
                        <img class="navbar-brand-logo-mini" src="/assets/admin/logos/logo-short.svg" alt="Logo"
                            data-hs-theme-appearance="default">
                        <img class="navbar-brand-logo-mini" src="/assets/admin/logos-light/logo-short.svg" alt="Logo"
                            data-hs-theme-appearance="dark">
                    </a>

                    <!-- End Logo -->

                    <!-- Navbar Vertical Toggle -->
                    <button type="button" class="js-navbar-vertical-aside-toggle-invoker navbar-aside-toggler">
                        <i class="bi-arrow-bar-left navbar-toggler-short-align"
                            data-bs-template='<div class="tooltip d-none d-md-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>'
                            data-bs-toggle="tooltip" data-bs-placement="right" title="Collapse"></i>
                        <i class="bi-arrow-bar-right navbar-toggler-full-align"
                            data-bs-template='<div class="tooltip d-none d-md-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>'
                            data-bs-toggle="tooltip" data-bs-placement="right" title="Expand"></i>
                    </button>

                    <!-- End Navbar Vertical Toggle -->

                    <!-- Content -->

                    <div class="navbar-vertical-content">
                        <div id="navbarVerticalMenu" class="nav nav-pills nav-vertical card-navbar-nav">
                            <!-- Collapse -->
                            <div class="nav-item">
                                <a class="nav-link" href="/admin/dashboard">
                                    <i class="bi-house-door nav-icon"></i>
                                    <span class="nav-link-title">Dashboards</span>
                                </a>
                            </div>
                            <!-- End Collapse -->

                            <span class="dropdown-header mt-4">Actions</span>
                            <small class="bi-three-dots nav-subtitle-replacer"></small>

                            <!-- Collapse -->
                            <div class="navbar-nav nav-compact">

                            </div>
                            <div id="navbarVerticalMenuPagesMenu">
                                <!-- Collapse -->
                                <div class="nav-item">
                                    <a class="nav-link active" href="/admin/products">
                                        <i class="bi-people nav-icon"></i>
                                        <span class="nav-link-title">Cakes</span>
                                    </a>
                                </div>

                                <div class="nav-item">
                                    <a class="nav-link" href="/admin/users">
                                        <i class="bi-people nav-icon"></i>
                                        <span class="nav-link-title">Users</span>
                                    </a>
                                </div>

                                <div class="nav-item">
                                    <a class="nav-link" href="/admin/category">
                                        <i class="bi-people nav-icon"></i>
                                        <span class="nav-link-title">Category</span>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <!-- End Content -->

                        <!-- Footer -->

                        <!-- End Footer -->
                    </div>
                </div>
        </aside>

        <main id="content" role="main" class="main">
            <!-- Content -->
            <div class="content container-fluid">
                <!-- Page Header -->
                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col-sm mb-2 mb-sm-0">
                            <nav aria-label="breadcrumb">

                            </nav>

                            <h1 class="page-header-title">Add Product</h1>


                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->
                </div>
                <!-- End Page Header -->

                <div class="row">
                    <div class="col-lg-8 mb-3 mb-lg-0">
                        <!-- Card -->
                        <div class="card mb-3 mb-lg-5">
                            <!-- Header -->
                            <div class="card-header">
                                <h4 class="card-header-title ">Product information</h4>
                            </div>
                            <!-- End Header -->

                            <!-- Body -->
                            <form action="/admin/products/addProduct" method="post" enctype="multipart/form-data">
                                <div class="card-body">
                                    <!-- Form -->
                                    <div class="mb-4">
                                        <label for="productNameLabel" class="form-label">Cake name <i
                                                class="bi-question-circle text-body ms-1" data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                title="Products are the goods or services you sell."></i></label>

                                        <input type="text" name="productName" class="form-control" name="productName"
                                            id="productNameLabel">
                                    </div>
                                    <!-- End Form -->




                                    <div class="col-sm-12">
                                        <!-- Form -->
                                        <div class="mb-4 w-75">
                                            <label for="weightLabel" class="form-label">Weights</label>

                                            <div
                                                class="weight m-3 w-100 d-flex justify-content-between align-items-center">
                                                <div class="d-flex align-items-center">
                                                    <input class="me-2" name="weight" value="0.5" type="checkbox">
                                                    <label for="">0.5 kg</label>
                                                </div>

                                                <div class="d-flex align-items-center">
                                                    <input class="me-2" name="weight" value="1" type="checkbox">
                                                    <label for="">1 kg</label>
                                                </div>

                                                <div class="d-flex align-items-center">
                                                    <input class="me-2" name="weight" value="1.5" type="checkbox">
                                                    <label for="">1.5 kg</label>
                                                </div>

                                                <div class="d-flex align-items-center">
                                                    <input class="me-2" value="2" name="weight" type="checkbox">
                                                    <label for="">2 kg</label>
                                                </div>

                                            </div>

                                        </div>
                                        <!-- End Form -->
                                    </div>
                                    <!-- End Col -->

                                    <div class="mb-4 ">
                                        <div class="d-flex">
                                            <div class="flex-grow-1 me-3">
                                                <input type="text" id="length1" name="length" class="form-control"
                                                    maxlength="2" placeholder="length" />
                                            </div>

                                            <div class="flex-grow-1 me-3">
                                                <input type="text" id="length2" name="base" class="form-control"
                                                    maxlength="2" placeholder="base" />
                                            </div>

                                            <div class="flex-grow-1">
                                                <input type="text" id="length3" name="height" class="form-control"
                                                    maxlength="2" placeholder="width" />
                                            </div>

                                        </div>


                                        <!-- <input type="text" class="form-control w-2" name="vendor" id="vendorLabel"
                                            placeholder="length / width  / base"> -->
                                    </div>

                                    <label class="form-label">Incredients</label>

                                    <div class="textarea-custom mb-4">
                                        <textarea name="incredients" class="form-control border-1"
                                            placeholder="Type Cake ingredients..."
                                            style="resize: vertical; min-height: 3rem;"></textarea>
                                    </div>


                                    <label class="form-label">Description</label>

                                    <div class="textarea-custom mb-4">
                                        <textarea name="description" class="form-control border-1"
                                            placeholder="Type Cake ingredients..."
                                            style="resize: vertical; min-height: 3rem;"></textarea>
                                    </div>
                                    <!--  -->
                                    <!-- End Quill -->
                                </div>
                                <!-- Body -->
                        </div>
                        <!-- End Card -->
                    </div>





                    <!-- End Col -->

                    <div class="col-lg-4">
                        <!-- Card -->
                        <div class="card  mb-lg-5">
                            <!-- Header -->
                            <div class="card-header">
                                <h4 class="card-header-title">Pricing</h4>
                            </div>
                            <!-- End Header -->

                            <!-- Body -->
                            <div class="card-body">
                                <!-- Form -->
                                <div class="">
                                    <label for="priceNameLabel" class="form-label">Price(INR)</label>

                                    <div class="input-group">
                                        <input type="text" name="price" class="form-control" name="priceName"
                                            id="priceNameLabel" placeholder="0.00" aria-label="0.00">
                                    </div>
                                </div>
                                <!-- End Form -->
                            </div>
                            <!-- End

                            <!-- Body -->
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div class="card">

                            <!-- Body -->
                            <div class="card-body">
                                <!-- Form -->
                                <div class="mb-4">
                                    <label for="categoryLabel" class="form-label">Category</label>

                                    <!-- Select -->
                                    <div class="tom-select-custom">
                                        <div class="d-flex">
                                            <select name="category" class="js-select form-select flex-grow-1"
                                                autocomplete="off" id="categoryLabel" data-hs-tom-select-options='{
                                              "searchInDropdown": false,
                                              "hideSearch": true,
                                              "placeholder": "Select category"
                                            }'>
                                                <% for (let i=0; i < category.length; i++) { %>

                                                    <option value="<%=category[i].categoryName%>">
                                                        <%=category[i].categoryName%>
                                                    </option>

                                                    <%}%>
                                            </select>

                                            <!-- Add Category Button -->
                                            <a type="button" href="/admin/category" class="btn btn-primary ms-2">

                                                Add Category
                                            </a>
                                        </div>
                                    </div>
                                    <!-- End Select -->
                                </div>

                                <div class="mb-4">
                                    <label for="priceNameLabel" class="form-label">Quantity</label>
                                    <div class="input-group">
                                        <input type="number" name="quantity" class="form-control" placeholder="eg:123 ">
                                    </div>
                                </div>


                            </div>

                            <!-- Body -->
                        </div>


                        <div class="card mt-4">

                            <!-- Body -->
                            <div class="card-body p-0">
                                <!-- Form -->
                                <img class="custom-file-image align-items-center  ml-5" style="width: 46px; height: 58px;" src="/assets/admin/illustrations-light/oc-browse.svg" alt="File dropzone image">
                                <h5 class="text-center text-secondary m-0">Drop your product images here </h5>
                                    <input class="ml-5 custom-file-input" style="height: 6rem;width: 100%;" type="file" name="productImages" id="fileInput" multiple >
                            </div>

                            <!-- Body -->
                        </div>

                        <!-- Card -->
                    </div>
                    <p class="m-0 text-secondary"><span>NB : </span>Select the product images in the order <span><i>(Main/Left/Right/bottom),</i></span> And if you add any wrong files you can change using <span><b> Edit </b></span>button in <a class="text-white" href="/admin/products">Product</a> after save.</p>

                    <!-- End Col -->
                </div>
                <!-- End Row -->


  

                <div class="position-fixed start-50 bottom-0 translate-middle-x w-100 zi-99 mb-3"
                    style="max-width: 40rem;">
                    <!-- Card -->
                    <div class="card card-sm bg-dark border-dark mx-2">
                        <div class="card-body">
                            <div class="row justify-content-center justify-content-sm-between">
                                <div class="col">
                                    <!-- <button type="button" class="btn btn-ghost-danger">Delete</button> -->
                                </div>
                                <!-- End Col -->

                                <div class="col-auto">
                                    <div class="d-flex gap-3">
                                        <!-- <button type="button" class="btn btn-ghost-light">Discard</button> -->
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                                </form>
                                <!-- End Col -->
                            </div>
                            <!-- End Row -->
                        </div>
                    </div>
                 

                   


                    <!-- End Card -->
                </div>
            </div>
          <div class="container mb-5">
            <div class="m-4 d-flex" id="imageContainer">
            </div>
          </div>
            

            <!-- End Footer -->
        </main>





        <!-- ========== END MAIN CONTENT ========== -->

        <!-- ONLY DEV -->

        <!-- Builder -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasBuilder"
            aria-labelledby="offcanvasBuilderLabel">
            <div class="offcanvas-header align-items-start">
                <div>
                    <h3 id="offcanvasBuilderLabel">Front Builder</h3>
                    <p class="mb-0">Customize the overview page layout.</p>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">
                <h4 class="mb-1">Theme Appearance Mode</h4>
                <p>Check out all <a href="documentation/layout.html">Layout Options here</a></p>

                <div class="row gx-3">
                    <!-- Check -->
                    <div class="col-6">
                        <div class="form-check form-check-label-highlighter text-center">
                            <input type="radio" class="form-check-input" name="layoutSkinsRadio" id="layoutSkinsRadio1"
                                checked value="default">
                            <label class="form-check-label mb-2" for="layoutSkinsRadio1">
                                <img class="form-check-img" src="/assets/admin/img/415x310/img1.jpg"
                                    alt="Image Description">
                            </label>
                            <span class="form-check-text">Default</span>
                        </div>
                    </div>


                    <hr>


                    <!-- End Row -->

                    <hr>

                    <h4 class="mb-1">Sidebar Nav</h4>
                    <p>Check out all <a href="documentation/layout.html">Layout Options here</a></p>


                    <!-- End Row -->

                    <hr>

                    <!-- Form Switch -->
                    <label class="row form-check form-switch mb-3" for="builderFluidSwitch">
                        <span class="col-10 ms-0">
                            <span class="d-block h4 mb-1">Header Layout Options</span>
                            <span class="d-block fs-5">Toggle to container-fluid layout</span>
                        </span>
                        <span class="col-2 text-end">
                            <input type="checkbox" class="form-check-input" id="builderFluidSwitch">
                        </span>
                    </label>
                    <!-- End Form Switch -->


                    <!-- End Row -->
                </div>

                <!-- Footer -->

                <!-- End Footer -->
            </div>

            <!-- End Builder -->

            <!-- Builder Toggle -->

            <div class="d-none js-build-layouts">

                <div class="js-build-layout-header-double">
                    <!-- Double Header -->
                    <header id="header"
                        class="navbar navbar-expand-lg navbar-bordered navbar-spacer-y-0 flex-lg-column">
                        <div class="navbar-dark w-100 bg-dark py-2">

                        </div>


                    </header>
                    <!-- End Double Header -->
                </div>
            </div>

            <script src="/assets/admin/js/demo.js"></script>

            <!-- END ONLY DEV -->

            <!-- ========== SECONDARY CONTENTS ========== -->
            <!-- Keyboard Shortcuts -->
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasKeyboardShortcuts"
                aria-labelledby="offcanvasKeyboardShortcutsLabel">
                <div class="offcanvas-header">
                    <h4 id="offcanvasKeyboardShortcutsLabel" class="mb-0">Keyboard shortcuts</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="list-group list-group-sm list-group-flush list-group-no-gutters mb-5">
                        <div class="list-group-item">
                            <h5 class="mb-1">Formatting</h5>
                        </div>
                        <div class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col-5">
                                    <span class="fw-semibold">Bold</span>
                                </div>
                                <!-- End Col -->

                                <div class="col-7 text-end">
                                    <kbd class="d-inline-block mb-1">Ctrl</kbd> <span class="text-muted small">+</span>
                                    <kbd class="d-inline-block mb-1">b</kbd>
                                </div>
                            </div>
                            <!-- End Row -->
                        </div>

                        <div class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col-5">
                                    <em>italic</em>
                                </div>
                                <!-- End Col -->

                                <div class="col-7 text-end">
                                    <kbd class="d-inline-block mb-1">Ctrl</kbd> <span class="text-muted small">+</span>
                                    <kbd class="d-inline-block mb-1">i</kbd>
                                </div>
                                <!-- End Col -->
                            </div>
                            <!-- End Row -->
                        </div>

                        <div class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col-5">
                                    <u>Underline</u>
                                </div>
                                <!-- End Col -->

                                <div class="col-7 text-end">
                                    <kbd class="d-inline-block mb-1">Ctrl</kbd> <span class="text-muted small">+</span>
                                    <kbd class="d-inline-block mb-1">u</kbd>
                                </div>
                                <!-- End Col -->
                            </div>
                            <!-- End Row -->
                        </div>

                        <div class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col-5">
                                    <s>Strikethrough</s>
                                </div>
                                <!-- End Col -->

                                <div class="col-7 text-end">
                                    <kbd class="d-inline-block mb-1">Ctrl</kbd> <span class="text-muted small">+</span>
                                    <kbd class="d-inline-block mb-1">Alt</kbd> <span class="text-muted small">+</span>
                                    <kbd class="d-inline-block mb-1">s</kbd>
                                    <!-- End Col -->
                                </div>
                            </div>
                            <!-- End Row -->
                        </div>

                        <div class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col-5">
                                    <span class="small">Small text</span>
                                </div>
                                <!-- End Col -->

                                <div class="col-7 text-end">
                                    <kbd class="d-inline-block mb-1">Ctrl</kbd> <span class="text-muted small">+</span>
                                    <kbd class="d-inline-block mb-1">s</kbd>
                                </div>
                                <!-- End Col -->
                            </div>
                            <!-- End Row -->
                        </div>

                        <div class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col-5">
                                    <mark>Highlight</mark>
                                </div>
                                <!-- End Col -->

                                <div class="col-7 text-end">
                                    <kbd class="d-inline-block mb-1">Ctrl</kbd> <span class="text-muted small">+</span>
                                    <kbd class="d-inline-block mb-1">e</kbd>
                                </div>
                                <!-- End Col -->
                            </div>
                            <!-- End Row -->
                        </div>


                    </div>
                </div>
                <!-- End Keyboard Shortcuts -->

                <!-- Activity -->
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasActivityStream"
                    aria-labelledby="offcanvasActivityStreamLabel">
                    <div class="offcanvas-header">
                        <h4 id="offcanvasActivityStreamLabel" class="mb-0">Activity stream</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <!-- Step -->
                        <ul class="step step-icon-sm step-avatar-sm">
                            <!-- Step Item -->
                            <li class="step-item">
                                <div class="step-content-wrapper">
                                    <div class="step-avatar">
                                        <img class="step-avatar" src="/assets/admin/img/160x160/img9.jpg"
                                            alt="Image Description">
                                    </div>

                                    <div class="step-content">
                                        <h5 class="mb-1">Iana Robinson</h5>

                                        <p class="fs-5 mb-1">Added 2 files to task <a class="text-uppercase" href="#"><i
                                                    class="bi-journal-bookmark-fill"></i> Fd-7</a></p>

                                        <ul class="list-group list-group-sm">
                                            <!-- List Item -->
                                            <li class="list-group-item list-group-item-light">
                                                <div class="row gx-1">
                                                    <div class="col-6">
                                                        <!-- Media -->
                                                        <div class="d-flex">
                                                            <div class="flex-shrink-0">
                                                                <img class="avatar avatar-xs"
                                                                    src="/assets/admin/brands/excel-icon.svg"
                                                                    alt="Image Description">
                                                            </div>
                                                            <div class="flex-grow-1 text-truncate ms-2">
                                                                <span class="d-block fs-6 text-dark text-truncate"
                                                                    title="weekly-reports.xls">weekly-reports.xls</span>
                                                                <span class="d-block small text-muted">12kb</span>
                                                            </div>
                                                        </div>
                                                        <!-- End Media -->
                                                    </div>
                                                    <!-- End Col -->

                                                    <div class="col-6">
                                                        <!-- Media -->
                                                        <div class="d-flex">
                                                            <div class="flex-shrink-0">
                                                                <img class="avatar avatar-xs"
                                                                    src="/assets/admin/brands/word-icon.svg"
                                                                    alt="Image Description">
                                                            </div>
                                                            <div class="flex-grow-1 text-truncate ms-2">
                                                                <span class="d-block fs-6 text-dark text-truncate"
                                                                    title="weekly-reports.xls">weekly-reports.xls</span>
                                                                <span class="d-block small text-muted">4kb</span>
                                                            </div>
                                                        </div>
                                                        <!-- End Media -->
                                                    </div>
                                                    <!-- End Col -->
                                                </div>
                                                <!-- End Row -->
                                            </li>
                                            <!-- End List Item -->
                                        </ul>

                                        <span class="small text-muted text-uppercase">Now</span>
                                    </div>
                                </div>
                            </li>
                            <!-- End Step Item -->

                            <!-- Step Item -->
                            <li class="step-item">
                                <div class="step-content-wrapper">
                                    <span class="step-icon step-icon-soft-dark">B</span>

                                    <div class="step-content">
                                        <h5 class="mb-1">Bob Dean</h5>

                                        <p class="fs-5 mb-1">Marked <a class="text-uppercase" href="#"><i
                                                    class="bi-journal-bookmark-fill"></i> Fr-6</a> as <span
                                                class="badge bg-soft-success text-success rounded-pill"><span
                                                    class="legend-indicator bg-success"></span>"Completed"</span></p>

                                        <span class="small text-muted text-uppercase">Today</span>
                                    </div>
                                </div>
                            </li>
                            <!-- End Step Item -->

                            <!-- Step Item -->
                            <li class="step-item">
                                <div class="step-content-wrapper">
                                    <div class="step-avatar">
                                        <img class="step-avatar-img" src="/assets/admin/img/160x160/img3.jpg"
                                            alt="Image Description">
                                    </div>

                                    <div class="step-content">
                                        <h5 class="h5 mb-1">Crane</h5>

                                        <p class="fs-5 mb-1">Added 5 card to <a href="#">Payments</a></p>

                                        <ul class="list-group list-group-sm">
                                            <li class="list-group-item list-group-item-light">
                                                <div class="row gx-1">
                                                    <div class="col">
                                                        <img class="img-fluid rounded"
                                                            src="/assets/admin/components/card-1.svg"
                                                            alt="Image Description">
                                                    </div>
                                                    <div class="col">
                                                        <img class="img-fluid rounded"
                                                            src="/assets/admin/components/card-2.svg"
                                                            alt="Image Description">
                                                    </div>
                                                    <div class="col">
                                                        <img class="img-fluid rounded"
                                                            src="/assets/admin/components/card-3.svg"
                                                            alt="Image Description">
                                                    </div>
                                                    <div class="col-auto align-self-center">
                                                        <div class="text-center">
                                                            <a href="#">+2</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                        <span class="small text-muted text-uppercase">May 12</span>
                                    </div>
                                </div>
                            </li>

                            <li class="step-item">
                                <div class="step-content-wrapper">
                                    <div class="step-avatar">
                                        <img class="step-avatar-img" src="/assets/admin/img/160x160/img7.jpg"
                                            alt="Image Description">
                                    </div>

                                    <div class="step-content">
                                        <h5 class="mb-1">Rachel King</h5>

                                        <p class="fs-5 mb-1">Marked <a class="text-uppercase" href="#"><i
                                                    class="bi-journal-bookmark-fill"></i> Fr-3</a> as <span
                                                class="badge bg-soft-success text-success rounded-pill"><span
                                                    class="legend-indicator bg-success"></span>"Completed"</span></p>

                                        <span class="small text-muted text-uppercase">Apr 29</span>
                                    </div>
                                </div>
                            </li>
                            <!-- End Step Item -->

                            <!-- Step Item -->
                            <li class="step-item">
                                <div class="step-content-wrapper">
                                    <div class="step-avatar">
                                        <img class="step-avatar-img" src="/assets/admin/img/160x160/img5.jpg"
                                            alt="Image Description">
                                    </div>

                                    <div class="step-content">
                                        <h5 class="mb-1">Finch Hoot</h5>

                                        <p class="fs-5 mb-1">Earned a "Top endorsed" <i
                                                class="bi-patch-check-fill text-primary"></i> badge</p>

                                        <span class="small text-muted text-uppercase">Apr 06</span>
                                    </div>
                                </div>
                            </li>
                            <!-- End Step Item -->

                            <!-- Step Item -->
                            <li class="step-item">
                                <div class="step-content-wrapper">
                                    <span class="step-icon step-icon-soft-primary">
                                        <i class="bi-person-fill"></i>
                                    </span>

                                    <div class="step-content">
                                        <h5 class="mb-1">Project status updated</h5>

                                        <p class="fs-5 mb-1">Marked <a class="text-uppercase" href="#"><i
                                                    class="bi-journal-bookmark-fill"></i> Fr-3</a> as <span
                                                class="badge bg-soft-primary text-primary rounded-pill"><span
                                                    class="legend-indicator bg-primary"></span>"In progress"</span></p>

                                        <span class="small text-muted text-uppercase">Feb 10</span>
                                    </div>
                                </div>
                            </li>
                            <!-- End Step Item -->
                        </ul>
                        <!-- End Step -->

                        <div class="d-grid">
                            <a class="btn btn-white" href="javascript:;">View all <i class="bi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- End Activity -->

                <!-- Welcome Message Modal -->
                <div class="modal fade" id="welcomeMessageModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <!-- Header -->
                            <div class="modal-close">
                                <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm"
                                    data-bs-dismiss="modal" aria-label="Close">
                                    <i class="bi-x-lg"></i>
                                </button>
                            </div>
                            <!-- End Header -->

                            <!-- Body -->
                            <div class="modal-body p-sm-5">
                                <div class="text-center">
                                    < <div class="w-75 w-sm-50 mx-auto mb-4">
                                        <img class="img-fluid" src="/assets/admin/illustrations/oc-collaboration.svg"
                                            alt="Image Description" data-hs-theme-appearance="default">
                                        <img class="img-fluid"
                                            src="/assets/admin/illustrations-light/oc-collaboration.svg"
                                            alt="Image Description" data-hs-theme-appearance="dark">
                                </div>

                                <h4 class="h1">Welcome to Front</h4>
                                < <p>We're happy to see you in our community.</p>
                            </div>
                        </div>
                        <!-- End Body -->

                        <!-- Footer -->
                        <div class="modal-footer d-block text-center py-sm-5">
                            <small class="text-cap text-muted">Trusted by the world's best teams</small>

                            <div class="w-85 mx-auto">
                                <div class="row justify-content-between">
                                    <div class="col">
                                        <img class="img-fluid" src="/assets/admin/brands/gitlab-gray.svg"
                                            alt="Image Description">
                                    </div>
                                    <div class="col">
                                        <img class="img-fluid" src="/assets/admin/brands/fitbit-gray.svg"
                                            alt="Image Description">
                                    </div>
                                    <div class="col">
                                        <img class="img-fluid" src="/assets/admin/brands/flow-xo-gray.svg"
                                            alt="Image Description">
                                    </div>
                                    <div class="col">
                                        <img class="img-fluid" src="/assets/admin/brands/layar-gray.svg"
                                            alt="Image Description">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Footer -->
                    </div>
                </div>
            </div>



            <!-- Products Advanced Features Modal -->
            <div class="modal fade" id="productsAdvancedFeaturesModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <!-- Header -->
                        <div class="modal-close">
                            <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm"
                                data-bs-dismiss="modal" aria-label="Close">
                                <i class="bi-x-lg"></i>
                            </button>
                        </div>
                        <!-- End Header -->

                        <!-- Body -->


                        <!-- Media -->
                        <div class="d-flex">
                            <div class="flex-shrink-0 mb-3 mb-sm-0">

                                <img class="avatar avatar-lg avatar-4x3"
                                    src="/assets/admin/illustrations/oc-money-profits.svg" alt="Image Description"
                                    data-hs-theme-appearance="default">
                                <img class="avatar avatar-lg avatar-4x3"
                                    src="/assets/admin/illustrations-light/oc-money-profits.svg" alt="Image Description"
                                    data-hs-theme-appearance="dark">
                            </div>

                            <div class="flex-grow-1 ms-4">
                                <h4>"Compare to" price</h4>
                                <p>Use this feature when you want to put a product on sale or show savings off
                                    suggested
                                    retail pricing.</p>
                            </div>
                        </div>
                        <!-- End Media -->

                        <hr class="my-4">

                        <!-- Media -->

                        <!-- End Footer -->
                    </div>
                </div>
            </div>

            <script>
                const fileInput = document.getElementById('fileInput');
                const imageContainer = document.getElementById('imageContainer');
            
                let selectedFiles = [];
            
                fileInput.addEventListener('change', (event) => {
                  const files = event.target.files;
            
                  if (files.length) {
                    for (const file of files) {
                      selectedFiles.push(file);
            
                      const card = createCard(file);
                      imageContainer.appendChild(card);
                    }

                  }
                });
            
                function createCard(file) {
                  let closeButtonCount = 0;
                  const card = document.createElement('div');
                  card.classList.add('card');
            
                  const cardImage = document.createElement('img');
                  cardImage.classList.add('card-img-top');
                  cardImage.src = URL.createObjectURL(file);
            
                  const closeButton = document.createElement('button');


                  closeButtonCount++;
                  card.appendChild(cardImage);
                  card.appendChild(closeButton);
                  return card;
                }
            

            </script>

            <!-- End Products Advanced Features Modal -->
            <!-- ========== END SECONDARY CONTENTS ========== -->

            <!-- JS Implementing Plugins -->
            <script src="/assets/admin/js/vendor.min.js"></script>

            <!-- JS Front -->
            <script src="/assets/admin/js/theme.min.js"></script>




            <!-- JS Plugins Init. -->


            <!-- JS Plugins Init. -->



            <!-- Style Switcher JS -->



            <%-include('../layouts/admin/footer')-%>