<footer class="footer " style="background-color: black;">
    <div class="footer-middle">
        <div class="container ">
            <div class="row justify-content-between">

                <div class="col-sm-6 col-lg-3">
                    <div class="widget widget-about">
                        <img src="/assets/images/Frost-Bay logo.png" class="footer-logo" alt="Footer Logo" width="105"
                            height="25">
                        <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu
                            vulputate
                            magna eros eu erat. </p>

                        <div class="social-icons">
                            <a href="https://www.linkedin.com/in/muhammed-swalih-pk-4445342a3/" class="social-icon"
                                target="_blank"><i class="fa-brands fa-linkedin-in"></i></i></a>
                            <a href="https://github.com/swalihpk1" class="social-icon" target="_blank"><i
                                    class="fa-brands fa-github"></i></a>
                            <a href="" class="social-icon" target="_blank" title="Instagram"><i
                                    class="fa-brands fa-facebook-f"></i></a>
                        </div><!-- End .soial-icons -->
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <img src="/assets/images/footer-map.png" alt="">
                </div><!-- End .col-sm-6 col-lg-3 -->

            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
        <div class="container justify-content-center">
            <p class="footer-copyright ">Copyright © 2019 Frost-Bay Store. All Rights Reserved.</p>
        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->
<button id="scroll-top" title="Back to Top"><i class="fa-sharp fa-solid fa-arrow-up text-dark"></i></button>


<div class="mobile-menu-container">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="fa-sharp fa-solid fa-x"></i></span>

        <nav class="mobile-nav">
            <ul class="mobile-menu">
                <li class="active">
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="/shop">Shop</a>
                </li>
                <li>
                    <a href="#">Contact us</a>
                </li>
                <li>
                    <a href="">About us</a>
                </li>
            </ul>
        </nav><!-- End .mobile-nav -->

        <div class="social-icons">
            <a href="https://www.linkedin.com/in/muhammed-swalih-pk-4445342a3/" class="social-icon" target="_blank"><i
                    class="fa-brands fa-linkedin-in"></i></i></a>
            <a href="https://github.com/swalihpk1" class="social-icon" target="_blank"><i
                    class="fa-brands fa-github"></i></a>
            <a href="" class="social-icon" target="_blank" title="Instagram"><i class="fa-brands fa-facebook-f"></i></a>
        </div><!-- End .social-icons -->
    </div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->

<div id="notification-container"></div>





<script src="https://kit.fontawesome.com/a6f4adbcd9.js" crossorigin="anonymous"></script>
<!-- Plugins JS File -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/jquery.hoverIntent.min.js"></script>
<script src="/assets/js/jquery.waypoints.min.js"></script>
<script src="/assets/js/superfish.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<!-- Main JS File -->
<script src="/assets/js/main.js"></script>
<!-- ------Eye toggler js------ -->
<script src="/assets/js/popper.js"></script>

<script>

    document.getElementById('removeCartProduct').addEventListener('click', function () {
        const productId = document.getElementById('product-id').dataset.productId;

        console.log(productId);

        fetch(`/cart/removeProduct`, {
            method: 'DELETE',
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ productId })
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (data.success) {
                    $('#cartDropdown').load('/home #cartDropdown', function () {
                        showNotificationfooter("Removed", true);
                    });

                } else {
                    $('#cartDropdown').load('/home #cartDropdown', function () {
                        showNotificationfooter("Something went wrong", false);
                    });

                }

            })
            .catch(error => console.error('Error blocking user:', error));
    });

    function showNotificationfooter(message, success = true) {
        console.log("1st");
        const notificationContainer = document.getElementById('notification-container');
        console.log("2nd");
        notificationContainer.innerHTML = message;
        console.log("3rd");

        if (success) {
            console.log("4th");
            notificationContainer.style.color = '#c96';
        } else {
            console.log("4.0");
            notificationContainer.style.color = 'red';
        }

        notificationContainer.style.display = 'block';
        console.log("end");
        setTimeout(() => {
            notificationContainer.style.display = 'none';
        }, 3000); // Adjust the time as needed
    }


</script>
<script>
    function confirmLogout() {
        const isConfirmed = confirm("Are you sure you want to logout?");
        if (isConfirmed) {
            window.location.href = "/logout";
        } else {
            console.log("Logout canceled");
        }
    }
</script>

</body>

</html>