<script src="https://kit.fontawesome.com/a6f4adbcd9.js" crossorigin="anonymous"></script>

<script>
  

    function confirmLogout() {
        const isConfirmed = confirm("Are you sure you want to logout?");
        if (isConfirmed) {
            window.location.href = "/logout";
        } else {
            console.log("Logout canceled");
        }
    }
</script>

</body>
</html>