<!DOCTYPE html>
<html lang="en">


<!-- molla/login.html  22 Nov 2019 10:04:03 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Frost-Bay</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Be">
    <meta name="author" content="p-themes">
    <!-- Favicon -->

    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="theme-color" content="#ffffff">
    <script src="https://kit.fontawesome.com/a6f4adbcd9.js" crossorigin="anonymous"></script>
    


   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-b4RA5Z2U6L4Y4yZgv28fG70N5KaKo3iSUWziZB+R/Z5BHfL60nZQJZ+2yl6/eIyhQzRr+MH7VgptI6X83sjA2w=="
    crossorigin="anonymous" />

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


   

    

