<%- include('../layouts/user/header') -%>

<!-- for otp -->
<link rel="stylesheet" href="/assets/css/otp.css"> 
<link rel="stylesheet" href="/assets/css/otp2.css">
</head>

<body class="container-fluid bg-body-tertiary d-block">
  <main class="cd__main">
    <div class="row justify-content-center">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card bg-white my-5" style="box-shadow: 0 12px 15px rgba(0, 0, 0, 0.02);">
          <div class="card-body p-5 text-center">
            <h4>Email for Otp Verification</h4>
            <p>Your code was sent to you via email</p>
            <form  method="post" >
              <div class="mb-3">
                <label for="singin-email-2" class="form-label">Email address</label>
                <input type="email" class="form-control" id="singin-email-2" name="resendEmail" required>
                 <button style="width: 9rem; border: none;background-color: #cc9966; color: aliceblue;"">Send Otp</button>
              </div>

              <% if(typeof message !== 'undefined'){ %>
              <h6 class="text-danger"><%= message %></h6>
              <%  } %>

            </form>

            <p class="text-muted mb-0">Didn't receive code? <a href="#">Request again</a></p>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="/assets/js/otp.js"></script>

  <%- include('../layouts/user/footer') -%>
</body>
</html>
