<!-- JS Implementing Plugins -->
<script src="/assets/admin/js/vendor.min.js"></script>

<script src="/assets/admin/vendor/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.js"></script>

<!-- JS Front -->
<script src="/assets/admin/js/theme.min.js"></script>

<script>
  (function () {
    window.onload = function () {
      new HSSideNav('.js-navbar-vertical-aside').init()

    }
  })()
</script>

<script>


</script>
<script src="https://kit.fontawesome.com/a6f4adbcd9.js" crossorigin="anonymous"></script>
</body>

</html>